#include <windows.h>
#include "resource.h"

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL

IDI_MAIN_ICON   ICON    "res/computer.ico"
IDB_ROOT_IMAGE  BITMAP  "res/root.bmp"

/* main toolbar icons */
IDB_PROP    BITMAP DISCARDABLE "res/properties.bmp"
IDB_REFRESH BITMAP DISCARDABLE "res/refresh.bmp"
IDB_HELP    BITMAP DISCARDABLE "res/help.bmp"
IDB_EXIT    BITMAP DISCARDABLE "res/exit.bmp"


#ifdef LANGUAGE_EN_US
    #include "lang/en-US.rc"
#endif
#ifdef LANGUAGE_FR_FR
    #include "lang/fr-FR.rc"
#endif

// UTF-8
#pragma code_page(65001)

#ifdef LANGUAGE_RU_RU
    #include "lang/ru-RU.rc"
#endif
